.container-add-produit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-image: url("../image/fond-grand.png");
    width: 100%;
}

.title-add-produit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-french-pizz {
    width: 41vw;
    margin-top: 6vh;
}

.img-ajouter-produit {
    width: 25vw;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

.container-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-text-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: poppins, sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: #e1000f;
}

.input-name {
    font-family: poppins, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    border-radius: 10px;
    color: #7e8075;
    width: 40vw;
    height: 5vh;
}

.container-itproduit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

.label-text-itproduit {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: poppins, sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: #e1000f;
}

.select-itproduit {
    font-family: poppins, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    border-radius: 10px;
    width: 40vw;
    height: 5vh;
    color: #7e8075;
}

.option-1-itproduit {
    color: #7e8075;
}

.container-description-produit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

.label-text-description-produit {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: poppins, sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: #e1000f;
}

.input-description-produit {
    font-family: poppins, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    border-radius: 10px;
    color: #7e8075;
    width: 40vw;
    height: 5vh;
}

.container-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

.label-text-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: poppins, sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: #e1000f;
}

.input-price {
    font-family: poppins, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    border-radius: 10px;
    color: #7e8075;
    width: 40vw;
    height: 5vh;
}

.container-link-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

.label-text-link-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: poppins, sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: #e1000f;
}

.textarea-link-picture {
    font-family: poppins, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    border-radius: 10px;
    color: #7e8075;
    width: 40vw;
    height: 10vh;
}

.block-button-ajouter {
    display: flex;
    flex-direction: column;
}

.button-ajouter {
    margin-top: 10vh;
    margin-bottom: 15vh;
    font-family: poppins, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
    background-color: black;
    border-radius: 10px;
    width: 20vw;
    height: 10vh;
}