.container-admin {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-image: url("../image/fond-grand.png");
    width: 100%;
    align-items: center;
}

.container-title-admin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-title-french-pizz {
    width: 41vw;
    margin-top: 6vh;
}

.text-title-admin {
    width: 25vw;
}

.all-button {
    display: flex;
    flex-direction: row;
    margin-bottom: 10vh;
    margin-top: 15vh;
}

.button-delivery {
    display: flex;
    margin-right: 10vw;
    height: 22vh;
    width: 20vw;
    background-color: #e1000f;
    border-radius: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-redirect-delivery {
    font-family: poppins, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
}

.button-command {
    display: flex;
    height: 22vh;
    width: 20vw;
    background-color: black;
    border-radius: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-redirect-command {
    font-family: poppins, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
}

.text-deco {
    text-decoration: none;
}