<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{/base}">
<div layout:fragment="css-title">
    <title>Menu - French PIZZ</title>
    <link rel="stylesheet" href="style/add-produit.css">
</div>
<body>
<div layout:fragment="content">
        <div class="container-add-produit">
            <div class="title-add-produit-form">
                <img src="/image/french-pizz.png" class="img-french-pizz" alt="french-pizz">
                <img src="/image/ajouter-un-produit.png" class="img-ajouter-produit" alt="ajouter-produit">
            </div>
            <form th:object="${produit}" class="container-form" method="POST" th:action="@{/add-produit}">
        <!----------------------------------------   NAME     ---------------------------------------------------------------->
                <div class="container-name">
                    <label class="label-text-name" for="nom">Nom du produit</label>
                    <div class="container-input-name">
                        <input th:field="*{nom}" class="input-name" type="text" placeholder="Nom produit"/>
                    </div>
                </div>
                <!----------------------------------------   idTypeProduit     ---------------------------------------------------------------->
                <div class="container-itproduit">
                    <label class="label-text-itproduit" for="type_produit">Choisissez le type de produit</label>
                    <div class="container-option-itproduit">
                        <select th:field="*{typeProduit}" class="select-itproduit" aria-label="Select">
                            <option class="option-1-itproduit" value="" selected>Liste des types de produits</option>
                            <option class="option-2-itproduit" th:each="typeProduit : ${types}" th:value="${typeProduit.idTypeProduit}" th:text="${typeProduit.libelle}"></option>
                        </select>
                    </div>
                </div>
                <!----------------------------------------   Description Produit     ---------------------------------------------------------------->
                <div class="container-description-produit">
                    <label class="label-text-description-produit" for="description">Description du produit</label>
                    <div class="container-input-description-produit">
                        <input th:field="*{description}" class="input-description-produit" type="text" placeholder="Description du produit"/>
                    </div>
                </div>
                <!----------------------------------------   PRICE     ---------------------------------------------------------------->
                <div class="container-price">
                    <label class="label-text-price" for="prix">Quel est le prix du produit</label>
                    <div class="container-input-price">
                        <input th:field="*{prix}" class="input-price" placeholder="prix en €"/>
                    </div>
                </div>
                <!----------------------------------------   LINK PICTURE     ---------------------------------------------------------------->
                <div class="container-link-picture">
                    <label class="label-text-link-picture" for="image_url">Lien de l'image</label>
                    <div class="container-textarea-link-picture">
                        <textarea th:field="*{image_url}" class="textarea-link-picture"></textarea>
                    </div>
                </div>
                <!----------------------------------------   BUTTON     ---------------------------------------------------------------->
                <div class="block-button-ajouter">
                    <input value="Ajouter le produit" type="submit" class="button-ajouter"/>
                </div>
            </form>
        </div>
</div>
</body>
</html>