<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{/base}">
<div layout:fragment="css-title">
  <title>Inscription - French PIZZ</title>
  <link rel="stylesheet" href="/style/inscription.css">
</div>
<body>
<div layout:fragment="content">
  <div class="container-connection">
    <div class="title-connection-form">
      <img src="/image/french-pizz.png" class="img-french-pizz" alt="french-pizz">
      <img src="/image/inscription.png" class="img-inscription" alt="inscription">
    </div>
    <form th:object="${utilisateur}" class="container-form" method="POST" th:action="@{/add-user}">
      <input th:field="*{idUtilisateur}" type="hidden">
      <!----------------------------------------   FIRST NAME     ---------------------------------------------------------------->
      <div class="container-first-name">
        <label class="label-text-first-name" for="prenom">Votre prénom :</label>
        <div class="container-input-first-name">
          <input th:field="*{prenom}" class="input-first-name" type="text" placeholder="Prénom"/>
        </div>
      </div>
      <!----------------------------------------   LAST NAME     ---------------------------------------------------------------->
      <div class="container-last-name">
        <label class="label-text-last-name" for="nom">Votre nom :</label>
        <div class="container-input-last-name">
          <input th:field="*{nom}" class="input-last-name" type="text" placeholder="Nom de famille"/>
        </div>
      </div>
      <!----------------------------------------   EMAIL     ---------------------------------------------------------------->
      <div class="container-email">
        <label class="label-text-email" for="email">Votre email</label>
        <div class="container-input-email">
          <input th:field="*{email}" class="input-email" type="username" placeholder="Email"/>
        </div>
      </div>
      <!----------------------------------------   PASSWORD     ---------------------------------------------------------------->
      <div class="container-password">
        <label class="label-text-password" for="password">Votre mot de passe</label>
        <div class="container-input-password">
          <input th:field="*{password}" class="input-password" type="password" placeholder="Mot de passe"/>
        </div>
      </div>
      <!----------------------------------------   Rue     ---------------------------------------------------------------->
      <div class="container-password">
        <label class="label-text-password" for="rue">Votre rue</label>
        <div class="container-input-password">
          <input th:field="*{rue}" class="input-password" type="text" placeholder="Rue"/>
        </div>
      </div>
      <!----------------------------------------   Code Postal     ---------------------------------------------------------------->
      <div class="container-password">
        <label class="label-text-password" for="codePostal">Votre code postal</label>
        <div class="container-input-password">
          <input th:field="*{codePostal}" class="input-password" type="text" placeholder="Code Postal"/>
        </div>
      </div>
      <!----------------------------------------   Ville     ---------------------------------------------------------------->
      <div class="container-password">
        <label class="label-text-password" for="ville">Votre ville</label>
        <div class="container-input-password">
          <input th:field="*{ville}" class="input-password" type="text" placeholder="Ville"/>
        </div>
      </div>
      <!----------------------------------------   BUTTON SIGN IN     ---------------------------------------------------------------->
      <div class="block-sign-in">
        <input value="S'inscrire" type="submit" class="button-sign-in"/>
      </div>
    </form>
  </div>
</div>
</body>
</html>