<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{/base}">
<div layout:fragment="css-title">
  <title>Menu - French PIZZ</title>
  <link rel="stylesheet" href="/style/admin.css">
</div>
<body>
<div layout:fragment="content">
  <div class="container-admin">
    <div class="container-title-admin">
      <img class="text-title-french-pizz" src="/image/french-pizz.png">
      <img class="text-title-admin" src="/image/admin.png">
    </div>
    <div class="all-button">
      <a class="text-deco" href="list-commandes">
      <div class="button-delivery">
          <p class="button-redirect-delivery">Les livraisons</p>
      </div>
      </a>
      <div class="button-command">
        <p class="button-redirect-command">Les Commandes</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>