<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>French Pizz</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/home.css">
</head>
<body>
    <header>
        <div class="barre-haute">
        <div class="logo">
            <img class="image-logo" src="/image/logo-pizza.png" alt="pizz" >
        </div>
            <nav>
                <ul>
                    <li>Accueil</li>
                    <li>Menu</li>
                    <li>Contact</li>
                </ul>
            </nav>
            <div class="number-phone">
                <img class="tel-header" src="/image/tel-header.png">
                <p class="number-header">02 51 48 24 94</p>
            </div>
            <div class="connection">
                <div class="button-connexion">
                    <p class="header-text-connexion">Connexion</p>
                </div>
            </div>
        </div>
        <div class="container-header">
            <div class="colonne-gauche">
                <div class="colonne-gauche-haut">
                    <li class="li-barre-gauche">Accueil</li>
                    <li class="li-barre-gauche">Nos Pizzas</li>
                    <li class="li-barre-gauche">Menu</li>
                    <li class="li-barre-gauche">Contact</li>
                </div>
                <div class="colonne-gauche-bas">
                    <div class="text-follow">NOUS SUIVRE</div>
                    <div class="text-us-on">A PROPOS</div>
                    <div class="barre-logo-reseau">
                        <div class="header-twitter">
                            <!--  Image twitter logo   -->
                        </div>
                        <div class="header-instagram">
                            <!--  Image instagram logo   -->
                        </div>
                        <div class="header-tiktok">
                            <!--  Image tiktok logo   -->
                        </div>
                        <div class="header-facebook">
                            <!--  Image Facebook logo   -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="colonne-middle">
                <div class="titre-haut">
                    <img class="title-plus" src="../image/image-plus.png" alt="plus">
                    <img class="title-qu'une" src="../image/image-qu'une.png" alt="qu'une">
                </div>
                <img class="title-simple-pizza" src="../image/simple-pizza.png">
                <div class="text-header-title">NOTRE MENU A QUELQUE CHOSE À OFFRIR À CHACUN. <br>
                    ARRETEZ-VOUS DANS NOTRE ETABLISSEMENT POUR UNE BOUCHÉE RAPIDE OU FAITES-VOUS LIVRER VOS PLATS PRÉFÉRÉS LIVRÉS DIRECTEMENT À VOTRE PORTE.</div>
                <div class="header-container-button">
                    <div class="Button">
                        <!--  Mettre ici lien  -->
                    </div>
                    <div class="header-text-link">
                        <p>VOIR LE MENU</p>
                        <!-- image fleche droite -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="container-carousel">

    </section>
</body>
</html>