<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>French Pizz</title>
</head>
<body>
    <header>
    <!--  Mettre une image en fond (background)  -->
        <div class="barre-haute">
        <div id="logo"></div>
            <nav>
                <ul>
                    <li>Home</li>
                    <li>Menu</li>
                    <li>Contact</li>
                </ul>
            </nav>
            <div class="number-phone"></div>
            <div class="connection"></div>
        </div>
        <div class="colonne-gauche">
            <div class="colonne-gauche-haut">
                <li>Home</li>
                <li>Pizza</li>
                <li>Menu</li>
                <li>Contact</li>
            </div>
            <div class="colonne-gauche-bas">
                <div class="text-follow">FOLLOW</div>
                <div class="text-us-on">US ON</div>
                <div class="barre-logo-reseau">
                    <div class="header-twitter">
                        <!--  Image twitter logo   -->
                    </div>
                    <div class="header-instagram">
                        <!--  Image instagram logo   -->
                    </div>
                    <div class="header-tiktok">
                        <!--  Image tiktok logo   -->
                    </div>
                    <div class="header-facebook">
                        <!--  Image Facebook logo   -->
                    </div>
                </div>
            </div>
        </div>
        <div class="colonne-middle">
            <h1>MORE</h1>
            <h2>THAN JUST PIZZA</h2>
            <div class="text-header-title">OUR MENU HAS SOMETHING FOR EVERYONE. STOP<br>BY FOR A QUICK BITE OR GET ROUR FAVORITES<br>DELIVERED RIGHT TO YOUR DOOR.</div>
            <div class="header-container-button">
                <div class="Button">
                    <!--  Mettre ici lien  -->
                </div>
                <div class="header-text-link">
                    <p>SEE THE MENU</p>
                    <!-- image fleche droite -->
                </div>
            </div>
        </div>
    </header>
    <section class="container-carousel">
        
    </section>
</body>
</html>