<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{/base}">
<div layout:fragment="css-title">
  <title>Informations pour livraison</title>
  <link rel="stylesheet" href="style/menu.css">
</div>

</head>
<body>
<form th:object="${client}" class="container-form" method="POST" th:action="@{/livraison}">
  <input th:field="*{idU}" type="hidden">
  <!----------------------------------------   FIRST NAME     ---------------------------------------------------------------->
  <div class="container-first-name">
    <label class="label-text-first-name" for="adresse">Votre prénom :</label>
    <div class="container-input-first-name">
      <input th:field="*{prenom}" class="input-first-name" type="text" placeholder="Prénom"/>
    </div>
  </div>
  <!----------------------------------------   LAST NAME     ---------------------------------------------------------------->
  <div class="container-last-name">
    <label class="label-text-last-name" for="code_postal">Votre nom :</label>
    <div class="container-input-last-name">
      <input th:field="*{nom}" class="input-last-name" type="text" placeholder="Nom de famille"/>
    </div>
  </div>
  <!----------------------------------------   EMAIL     ---------------------------------------------------------------->
  <div class="container-email">
    <label class="label-text-email" for="ville">Votre email</label>
    <div class="container-input-email">
      <input th:field="*{email}" class="input-email" type="email" placeholder="Email"/>
    </div>
  </div>


  <!----------------------------------------   BUTTON SIGN IN     ---------------------------------------------------------------->
  <div class="block-sign-in">
    <input value="Enregistrer les informations" type="submit" class="button-sign-in"/>
  </div>
</form>
</body>
</html>