<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{/base}">
<div layout:fragment="css-title">
    <title>Menu - French PIZZ</title>
    <link rel="stylesheet" href="/style/se-connecter.css">
</div>
<body>
<div layout:fragment="content">
    <div class="container-se-connecter">
        <div class="container-form-title">
            <img class="text-title-french-pizz" src="/image/french-pizz.png">
            <img class="text-title-se-connecter" src="/image/se-connecter.png">
        </div>
        <form method="post" th:action="@{/login}" id="loginForm">
            <!--------------------------------------   EMAIL    ---------------------------------------------------->
            <div class="container-email">
                <div class="container-label">
                    <label class="label-text-email" for="email">Votre email :</label>
                </div>
                <input type="text" id="email" name="email" placeholder="email" class="input-email"/>
            </div>
            <!--------------------------------------   PASSWORD     ---------------------------------------------------->
            <div class="container-password">
                <div class="container-label">
                    <label class="label-text-password" for="password">Votre mot de passe :</label>
                </div>
                <input type="text" id="password" placeholder="password" name="password" class="input-password"/>
            </div>
            <!--------------------------------------   BUTTON LOGIN     ---------------------------------------------------->
            <div class="button-login">
                <button type="submit" value="Se Connecter" id="se-connecter">Se Connecter</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>